/*-----------wrap-----------*/
#wrap {margin: 0 auto; width: 600px;}
#wrap > div {width: 400px; height: 150px;}
#wrap > div:first-child{width: 600px;}
#wrap > div:nth-child(3){height: 100px;}
#wrap > form {width: 400px; height: 220px; margin: 0 auto;}

/*------title-login------*/
.title-login > h2 {margin-top: 30px; font-size: 30px; text-align: center;}
.title-login > p {
    font-size: 15px; text-align: center; 
    word-break: break-all; /*표나 상자의 크기를 유지하면서 '글자'단위로 끊어줌 단어단위로 끊어줄수도 있음*/
    white-space: pre-line; /*마크업에서 줄바꿈 한 것이 적용되면서 width를 넘어간 것이 텍스트에 자동적용*/
}
.title-login > p > span{color: #ff0000;}

/*------loginNonForm------*/
#loginNonForm > p {font-size: 11px; clear: both; text-align: center; line-height: 40px;}
#loginNonForm > p > strong{font-size: 15px; color: #ff0000;}
/*----login-sign----*/
.login-sign{font-size: 14px; width: 100%; display: block; height: 60px;}
.login-sign > a {width: 200px; height: 40px; float: left; text-align: center; line-height: 40px;}
.login-sign > a > .login-page{box-sizing: border-box; color: #666; border-bottom: 1px solid #666; display: block;}
.login-sign > a > .login-nonpage{box-sizing: border-box; color: #222; border-bottom: 2px solid #222; display: block;}
/*----loginNon-orderinput----*/
.loginNon-orderinput{width: 280px; box-sizing: border-box; float: left;}
/*--form_control*/
.form_control{width: 280px; height: 40px; box-sizing: border-box; border: 1px solid rgb(192, 192, 192); margin: 5px 0; padding: 0 10px;}
/*----loginNon-inquire----*/
.loginNon-inquire > button {width: 110px; height: 100px; box-sizing: border-box; background-color: #222; color: #fff; float: right;}





/*------login-function------*/
.login-function{margin: 0 auto;}
.login-function > h4 > a{
    background-color: #222; color: white; position: relative; 
    width: 100%; height: 40px; box-sizing: border-box; 
    border-radius: 2px; text-align: center; display: block; line-height: 40px;
}
.login-find{text-align: center; margin-top: 20px;}
.ipdFii-go{display: inline-block; width: 100px; font-size: 15px; text-align: center; border-right: 1px solid rgba(192, 192, 192, 0.5); box-sizing: border-box;}
.ipdFip-go{display: inline-block; width: 100px; font-size: 15px; text-align: center;}
