<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 로그인(회원로그인),Ative Login">
    <meta name="keywords" content="에이티브,쇼핑몰,회원로그인,ATIVE,Shopping mall,Login">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>에이티브 로그인(회원로그인)</title>
        <!--css-->
        <link rel="stylesheet" href="../common/css/common.css"><!--공통 css-->
        <link rel="stylesheet" href="./css/login.css">
        <!--폰트어썸-->
        <script src="https://kit.fontawesome.com/126e320e56.js" crossorigin="anonymous"></script>
        <!--자바스크립트-->   
        <script type="text/javascript" src="../common/js/jquery-2.1.1.min.js"></script><!--필수 -->
        <script type="text/javascript" src="../common/js/jquery-ui.min.js"></script><!--선택 더 부드러운 디자인-->
        <script type="text/javascript" src="../common/js/jquery.easing.1.3.js"></script><!--좀더 많은 용법사용가능-->
        <script type="text/javascript" src="../common/js/prefixfree.min.js"></script><!--벤더프리픽스 방지--> 
        <script type="text/javascript" src="../common/js/common.js"></script><!--공통 js-->
        <script type="text/javascript" src="./js/login.js"></script><!--login js-->        
</head>
<body>
    <!------header------>
    <header></header>
    <!------//header------>

    <!----------------wrap---------------->
    <div id="wrap">
        <!------title-login------>
        <div class="title-login">
            <h2>LOGIN</h2>
            <p>
                쇼핑몰 방문을 환영합니다.편리한 이용을 위해 로그인 해 주세요. 
                신규 가입시 바로 사용 가능한 15% 할인 쿠폰을 드립니다!
                <span>(일부상품 제외)</span>
            </p>
        </div>
        <!------//title-login------>
        <!------loginForm------>
        <form id="loginForm" action="#" method="get" name="loginForm">
            <div class="login-sign">
                <a href="./login.html"><h3 class="login-page">회원로그인</h3></a>
                <a href="./loginNon.html"><h3 class="login-nonpage">비회원(주문조회)</h3></a>
            </div>
            <div class="login-userinput">
                <input type="text" id="userId" class="form_control" name="userInfo">
                <input type="password" id="userPwd" class="form_control" name="userInfo">
            </div>
            <div class="login-userlogin">
                <button type="button" id="btn_join" onclick="loginClear();">로그인</button>
            </div>
            <div class="login-autologin">
                <input type="checkbox" id="saveId" name="saveId">
                <label for="saveId">아이디 저장</label>
            </div>
        </form>
        <!------//loginForm------>
        <!------login-sns------>
        <div class="login-sns">
            <ul>
                <li>
                    <a href="" class="facebook">
                        <span class="icon"><i class="fab fa-facebook-square"></i></span>
                        <span class="sns-name">페이스북 ID로 로그인</span>
                    </a>
                </li><!--페이스북-->
                <li>
                    <a href="" class="kakao">
                        <span class="icon"><i class="fas fa-comment"></i></span>
                        <span class="sns-name">카카오톡 ID로 로그인</span>
                    </a>
                </li><!--카카오톡-->
                <li>
                    <a href="" class="naver">
                        <span class="icon">N</span>
                        <span class="sns-name">네이버 ID로 로그인</span>
                    </a>
                </li><!--네이버-->
                <li>
                    <a href="" class="google">
                        <span class="icon">G</span>
                        <span class="sns-name">구글 ID로 로그인</span>
                    </a>
                </li><!--구글-->
            </ul>
        </div>
        <!------//login-sns------>
        <!------login-function------>
        <div class="login-function">
            <h4><a href="../register/regBf.html" class="btn_regBf">회원가입</a></h4>
            <h5 class="login-find">
                <a href="../idpassword/ipdFii.html" class="ipdFii-go">아이디 찾기</a>
                <a href="../idpassword/ipdFip.html" class="ipdFip-go">비밀번호 찾기</a>                
            </h5>
        </div>
        <!------//login-function------>
    </div>
    <!----------------//wrap---------------->
    <!------footer------>
    <footer></footer>
    <!------//footer------>
</body>
</html>