<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 푸터(footer),Ative Footer">
    <meta name="keywords" content="에이티브,푸터,ATIVE,Footer">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>footer</title>
        <!--구글폰트-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
        <!--폰트어썸-->
        <script src="https://kit.fontawesome.com/126e320e56.js" crossorigin="anonymous"></script>
</head>
<body>
<!------footer------>
<footer>
    <!--footer 메뉴-->
    <div id="footer-menu">
        <div class="footer-info">
            <a href="http://127.0.0.1:5500/main/ativeinfo.html">회사소개</a>
            <a href="javascript:popupAgree();">이용약관</a>
            <a href="javascript:popupPrivacy();">개인정보처리방침</a>
            <a href="/common/error.html">고객센터</a>
            <a href="/common/error.html">입점/제휴문의</a>
            <a href="/common/error.html"><i class="fas fa-bullhorn"></i>입금자를 찾습니다.</a>
        </div>
        <div class="footer-sns">
            <a href="https://www.instagram.com/ative.kr/"><i class="fab fa-instagram"></i></a>
            <a href="https://post.naver.com/a-tive"><img src="/images/naverlogo.png" alt="네이버 로고"></a>
            <a href="https://www.facebook.com/ative.kr/"><i class="fab fa-facebook-square"></i></a>
            <a href="https://pf.kakao.com/_sBxjyd"><img src="/images/kakaologo.png" alt="카카오톡 로고"></a>
        </div>
    </div>
    <!--회사 정보-->
    <div id="footer-info">
        <div class="area-left">
            <h2>
                주식회사 에이티브
                <a href="/main/ativeinfo-en.html">사업자 정보확인&nbsp;<i class="fas fa-chevron-right"></i><!--화살표 오른쪽--></a>
            </h2>
            <span>대표이사 : 유호익개인정보 관리 책임자 : 유호익</span>
            <span>주소 : 서울 강남구 학동로33길 24 (논현동) Tel : 1899-8624Fax : 02-6207-7666</span>
            <span>사업자등록번호: 413-88-00830통신판매업신고 : 제 2019-서울강남-01344 호</span>
            <p class="footer-escrow"><i class="fas fa-shield-alt"></i><!--방패 모양-->&nbsp;NICE구매안전(에스크로)서비스</p>
            <p class="escrow-info">안전거래를 위해 나이스페이먼츠 구매안전(에스크로)에 가입하여 서비스를 제공하고 있습니다.<a href="#">서비스 가입사실 확인</a></p>
            <p class="copyright">Copyright 2017. 주식회사 에이티브, Inc. All rights reserved.</p>
        </div>
        <div class="area-right">
            <h2>CS CENTER</h2>
            <span class="cs-num">1899-8624</span>
            <span>AM 11:00 ~ PM 05:00<br>Off-time PM 01:00 ~ PM 02:00</span>
        </div>
    </div>
</footer>
<!------//footer------>
</body>
</html>