<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 페이징(paging),Ative paging">
    <meta name="keywords" content="에이티브,ATIVE,paging">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>paging</title>
        <!--구글폰트-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
        <!--폰트어썸-->
        <script src="https://kit.fontawesome.com/126e320e56.js" crossorigin="anonymous"></script>
</head>
<body>

<!----paging---->
<div class="paging">
    <a class="first-btn" href="#"><i class="fas fa-angle-double-left"></i><!--더블 왼쪽--></a><!--php 로 해야함-->
    <button class="prev-btn" disabled><i class="fas fa-angle-left"></i><!--왼쪽--></button><!--맨 앞이여서 disabled 사용못하게-->
    <!--pages = 1,2,3,4,5-->
    <a href="" class="active-page">1</a><!--php 연결후에 해야함 일단 강제적으로 색변환-->
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <button class="next-btn"><i class="fas fa-angle-right"></i><!--오른쪽--></button>
    <a class="last-btn" href=""><i class="fas fa-angle-double-right"></i></i><!--더블 오른쪽--></a>
</div>
<!----//paging---->    

</body>
</html>