<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 회원가입 혜택,Ative Register Benefit">
    <meta name="keywords" content="에이티브,쇼핑몰,회원가입,ATIVE,Shopping mall,Register">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>에이티브 회원가입(혜택)</title>
        <!--css-->
        <link rel="stylesheet" href="../common/css/common.css"><!--공통 css-->
        <link rel="stylesheet" href="./css/regBf.css">
        <!--폰트어썸-->
        <script src="https://kit.fontawesome.com/126e320e56.js" crossorigin="anonymous"></script>
        <!--구글폰트 mont-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <!--자바스크립트-->
        <script type="text/javascript" src="../common/js/jquery-2.1.1.min.js"></script><!--필수 -->
        <script type="text/javascript" src="../common/js/jquery-ui.min.js"></script><!--선택 더 부드러운 디자인-->
        <script type="text/javascript" src="../common/js/jquery.easing.1.3.js"></script><!--좀더 많은 용법사용가능-->
        <script type="text/javascript" src="../common/js/prefixfree.min.js"></script><!--벤더프리픽스 방지--> 
        <script type="text/javascript" src="../common/js/common.js"></script><!--공통 js-->
</head>
<body>
    <!------header------>
    <header></header>
    <!------//header------>
    <!----------------wrap---------------->
    <div id="wrap">
        <!------title-benefit------>
        <div class="title-benefit">
            <h2>회원가입을 환영합니다.</h2>
            <p>본인에 맞는 회원 타입을 선택하신 후 회원가입을 진행하여 주시기 바랍니다.</p>
        </div>
        <!------//benefit-benefit------>
        <!------benefit-info------>
        <div class="benefit-info">
            <!--1번 혜택-->
            <dl>
                <dt>
                    <i class="fas fa-user"></i><!--유저-->        
                </dt>
                <dd>
                    <span class="membership-info">
                        <strong>멤버십회원 감사 쿠폰</strong>
                        <br>회원가입 시 할인혜택 쿠폰 발급
                    </span>
                </dd>
            </dl>
            <!--2번 혜택-->
            <dl>
                <dt>
                    <i class="fas fa-search"></i><!--돋보기-->        
                </dt>
                <dd>
                    <span class="membership-info">
                        <strong>회원 등급별 혜택
                        </strong>
                        <br>매월 1일 최대 10% 할인쿠폰 발급
                    </span>
                </dd>
            </dl>
            <!--3번 혜택-->
            <dl>
                <dt>M</dt>
                <dd>
                    <span class="membership-info">
                        <strong>적립금 혜택</strong>
                        <br>상품 구매 시 최대 1% 적립
                    </span>
                </dd>
            </dl>
            <!--regAgree 로 이동-->
            <a href="../register/regAg.html" class="membership-join">멤버쉽 회원가입</a>
        </div>
        <!------//benefit-info------>
        <!------benefit-sns------>
        <div class="benefit-sns">
            <h3>SNS 회원가입</h3>
            <ul>
                <!--■페이스북 경로 수정해야함 너무길어!-->
                <li>
                    <a href="" class="facebook">
                        <span class="icon"><i class="fab fa-facebook-square"></i></span>
                        <span class="sns-name">페이스북 ID로 회원가입</span>
                    </a>
                </li><!--페이스북-->
                <li>
                    <a href="" class="kakao">
                        <span class="icon"><i class="fas fa-comment"></i></span>
                        <span class="sns-name">카카오톡 ID로 회원가입</span>
                    </a>
                </li><!--카카오톡-->
                <li>
                    <a href="" class="naver">
                        <span class="icon">N</span>
                        <span class="sns-name">네이버 ID로 회원가입</span>
                    </a>
                </li><!--네이버-->
                <li>
                    <a href="" class="google">
                        <span class="icon">G</span>
                        <span class="sns-name">구글 ID로 회원가입</span>
                    </a>
                </li><!--구글-->
            </ul>
        </div>
        <!------//benefit-sns------>
        <p class="notify">
            <em>본 사이트는 2013.02.18 법규 계정으로 주민번호를 일체 입력 및 저장하지 않습니다.</em>
        </p>
    </div>
    <!----------------//wrap---------------->
    <!------footer------>
    <footer></footer>
    <!------//footer------>
</body>
</html>