<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 회사소개(Ativeinfo)),Ative Ativeinfo">
    <meta name="keywords" content="에이티브,쇼핑몰,회사소개,ATIVE,Shopping mall,Ativeinfo">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>에이티브(회사소개)</title>
        <!--css-->
        <link rel="stylesheet" href="../common/css/common.css"><!--공통 css-->
        <link rel="stylesheet" href="./css/ativeinfo.css">
        <!--구글폰트-->
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Mukta&family=Sahitya&family=Shadows+Into+Light&display=swap" rel="stylesheet">                
        <!--폰트어썸-->
        <script src="https://kit.fontawesome.com/126e320e56.js" crossorigin="anonymous"></script>
        <!--자바스크립트-->
        <script type="text/javascript" src="../common/js/jquery-2.1.1.min.js"></script><!--필수 -->
        <script type="text/javascript" src="../common/js/jquery-ui.min.js"></script><!--선택 더 부드러운 디자인-->
        <script type="text/javascript" src="../common/js/jquery.easing.1.3.js"></script><!--좀더 많은 용법사용가능-->
        <script type="text/javascript" src="../common/js/prefixfree.min.js"></script><!--벤더프리픽스 방지--> 
        <script type="text/javascript" src="../common/js/common.js"></script><!--공통 js-->
</head>
<body>
    <!------header------>
    <header></header>
    <!------//header------>

    <!----------------wrap---------------->
    <div id="wrap">
        <!------company-img------>
        <div id="company-img">
            <img src="./images/companyinfo/info_1.jpg" alt="회사소개 1">
            <img src="./images/companyinfo/info_2.jpg" alt="회사소개 2">
            <img src="./images/companyinfo/info_3.jpg" alt="회사소개 3">
            <img src="./images/companyinfo/info_4.jpg" alt="회사소개 4">
        </div>
        <!------//company-img------>

        <h2>회사정보</h2>
        
        <!------company-info table------>
        <table id="company-info">
            <tbody>
                <tr>
                    <th>업체명</th>
                    <td>에이티브</td>
                </tr>
                <tr>
                    <th>대표자</th>
                    <td>유호익</td>
                </tr>
                <tr>
                    <th>업종</th>
                    <td>의류,잡화</td>
                </tr>
                <tr>
                    <th>사업자등록번호</th>
                    <td>413-88-00830</td>
                </tr>
                <tr>
                    <th>소재지</th>
                    <td>서울 강남구 학동로33길 24 (논현동)</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>shop@ative.kr</td>
                </tr>                
            </tbody>
        </table>
        <!------//company-info table------>        
    </div>
    <!----------------//wrap---------------->

    <!------footer------>
    <footer></footer>
    <!------//footer------>
</body>
</html>