<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 회사정보(Ativeinfo)),Ative Ativeinfo">
    <meta name="keywords" content="에이티브,쇼핑몰,회사정보,ATIVE,Shopping mall,Ativeinfo">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>에이티브(회사정보)</title>
        <!--css-->
        <link rel="stylesheet" href="../common/css/common.css"><!--공통 css-->
        <link rel="shortcut icon" href="./images/Ftc2.PNG"><!--파비콘-->
        <link rel="stylesheet" href="./css/ativeinfo-en.css">
        <!--구글폰트-->
        <link href="https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Mukta&family=Sahitya&family=Shadows+Into+Light&display=swap" rel="stylesheet">                
        <!--폰트어썸-->
        <script src="https://kit.fontawesome.com/126e320e56.js" crossorigin="anonymous"></script>
</head>
<body>

    <!----------------wrap---------------->
    <div id="wrap">
        <!----info---->
        <div id="info">
            <table border="1">
                <tr>
                    <td class="notice">통신판매번호</td>
                    <td class="space">2019-서울강남-01344</td>
                    <td class="notice">사업자등록번호</td>
                    <td class="space">413-88-00830</td>
                </tr>
                <tr>
                    <td class="notice">신고현황</td>
                    <td class="space">통신판매업 신고</td>
                    <td class="notice">법인여부</td>
                    <td class="space">법인</td>
                </tr>
                <tr>
                    <td class="notice">상호</td>
                    <td class="space" colspan="3">주식회사 에이티브</td>
                </tr>
                <tr>
                    <td class="notice">대표자명</td>
                    <td class="space">유호익</td>
                    <td class="notice">대표 전화번호</td>
                    <td class="space">02-1899-8624</td>
                </tr>
                <tr>
                    <td class="notice">판매방식</td>
                    <td class="space">인터넷</td>
                    <td class="notice">취급품목</td>
                    <td class="space">의류/패션/잡화/뷰티</td>
                </tr>
                <tr>
                    <td class="notice">전자우편(E-mail)</td>
                    <td class="space">master@ative.kr</td>
                    <td class="notice">신고일자</td>
                    <td class="space">20170321</td>
                </tr>
                <tr>
                    <td class="notice">사업장소재지</td>
                    <td class="space" colspan="3">서울특별시 강남구 논현동 83번지</td>
                </tr>
                <tr>
                    <td class="notice">사업장소재지(도로명)</td>
                    <td class="space" colspan="3">서울특별시 강남구 학동로33길 24, 정우빌딩 1층 (논현동)</td>
                </tr>
                <tr>
                    <td class="notice">인터넷도메인</td>
                    <td class="space" colspan="3">ative.kr</td>
                </tr>
                <tr>
                    <td class="notice">호스트서버소재지</td>
                    <td class="space" colspan="3"></td>
                </tr>
                <tr>
                    <td class="notice">통신판매업 신고기관명</td>
                    <td class="space" colspan="3">서울특별시 강남구청  (02-3423-5515,5382)</td>
                </tr>
            </table>

            <p>본자료는 전자상거래시장에서 소비자가 정확한 사업자 정보를 가지고 안전한 거래를 할 수 있도록 전국 시,군,구에 신고된 <strong>통신판매업자</strong>의 신원정보를 <span>전자상거래소비자보 호법 제12조4항</span> 에 따라 제공하는 정보입니다. 사업자 정보에 대한 궁금한 사항이나 사업자의 신원정보가 정보공개 내용과 불일치할 경우에는 사업자 정보검색시 확인되는 해당 <strong>신고기관(지방자치단체)</strong>에 문의하여 주시기 바랍니다.
                일부 사업자의 경우, 부가가치세법상 사업자 폐업 신고는 하였으나 전자상거래법상 통신판매업 폐업 신고는 하지 않은 사례가 있을 수 있습니다. 소비자 피해를 방지하기 위해 부가가치세법상 <strong>사업자 폐업 여부</strong>도 국세청 홈택스 페이지(<a href="www.hometax.go.kr">www.hometax.go.kr</a></a>)의 사업자등록상태조회 코너를 통해 확인하시기 바랍니다.</p>
        </div>
        <!----//info---->
    </div>
    <!----------------//wrap---------------->
</body>
</html>