<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 커뮤니티(패션게시판) - 패션게시판,Ative Cast COMMUNITY">
    <meta name="keywords" content="에이티브,쇼핑몰,커뮤니티(패션게시판),ATIVE,Shopping mall,CAST">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>커뮤니티(패션게시판)</title>
        <!--css-->
        <link rel="stylesheet" href="../common/css/common.css"><!--공통 css-->
        <link rel="stylesheet" href="./css/bd.css">
        <!--구글폰트-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
        <!--폰트어썸-->
        <script src="https://kit.fontawesome.com/126e320e56.js" crossorigin="anonymous"></script>
        <!--자바스크립트-->
        <script type="text/javascript" src="../common/js/jquery-2.1.1.min.js"></script><!--필수 -->
        <script type="text/javascript" src="../common/js/jquery-ui.min.js"></script><!--선택 더 부드러운 디자인-->
        <script type="text/javascript" src="../common/js/jquery.easing.1.3.js"></script><!--좀더 많은 용법사용가능-->
        <script type="text/javascript" src="../common/js/prefixfree.min.js"></script><!--벤더프리픽스 방지--> 
        <script type="text/javascript" src="../common/js/common.js"></script><!--공통 js-->
</head>
<body>
    <!------header------>
    <header></header>
    <!------//header------>

    <!----------------wrap---------------->
    <div id="wrap">
        <h3 class="bd-guide">COMMUNITY > <span>패션게시판</span></h3>
        <div class="bd-menu">
            <!-- 검색 옵션 -->
            <select name="search" id="search">
                <option value="title" selected>제목</option>
                <option value="writer">작성자</option>
            </select>
            <!-- 검색 창 , 버튼 -->
            <div class="bd-search">
                <input class="search_control" type="text" id="search-key">
                <button type="submit"><i class="fas fa-search"></i>&nbsp;검색</button>                
            </div>
            <!-- 처음목록 , 새로고침 , 글쓰기-->
            <a href="castBn.html">처음목록</a>
            <a href="#">새로고침</a>
            <a href="bdStaff.html">글쓰기</a>
        </div>

        <!------bd-field------>
        <table id="bd-field">
            <!--php 서버로 연결해서 해야함 시간 수동 입력-->
            <thead class="bd-title">
                <tr>
                    <th>번호</th>
                    <th>글제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody class="bd-contents">
                <tr>
                    <td>1</td>
                    <td><a href="#">자라 시즌오프</a></td>
                    <td>라이언</td>
                    <td>20.05.13 13:00</td>
                    <td>170</td>
                </tr>
                
                <tr>
                    <td>2</td>
                    <td><a href="#">가방 브랜드 호재 오프라인 패밀리 세일 정보</a></td>
                    <td>아파치</td>
                    <td>20.05.11 12:10</td>
                    <td>173</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td><a href="#" class="">[뉴발란스] 공홈 멤버 공동구매</a></td>
                    <td>뚱이</td>
                    <td>20.05.11 12:07</td>
                    <td>172</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td><a href="#">띠어리 / 메모리얼 데이 60% 세일 / 띠어리</a></td>
                    <td>잭키황</td>
                    <td>20.05.10 09:10</td>
                    <td>170</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td><a href="#">자라 X 조말론 향수 국내 런칭 / 자라</a></td>
                    <td>김밥삼각</td>
                    <td>20.05.10 08:17</td>
                    <td>165</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td><a href="#">컨버스 / 컨버스 X 칼하트 WIP 척70 / 컨버스</a></td>
                    <td>한래</td>
                    <td>20.05.09 18:45</td>
                    <td>180</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td><a href="">독일 직구샵 컬티즘 / 리바이스LVC & 아페쎄 25% 할인코드</a></td>
                    <td>쁠마곱</td>
                    <td>20.05.09 14:30</td>
                    <td>185</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td><a href="#">클럽모나코 / 60% 추가15% 파이널 세일</a></td>
                    <td>조던</td>
                    <td>20.05.08 23:55</td>
                    <td>195</td>
                </tr>

                <tr>
                    <td>9</td>
                    <td><a href="#">아크네스튜디오 / 40% 세일</a></td>
                    <td>베스킨</td>
                    <td>20.05.07 15:10</td>
                    <td>190</td>
                </tr>
            </tbody>
        </table>
        <!------//bd-field------>

        <!------paging------>
        <div class="paging"></div>
        <!------//paging------>
    </div>
    <!----------------//wrap---------------->
    <!------footer------>
    <footer></footer>
    <!------//footer------>
</body>
</html>