<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 캐스트(LOOK),Ative Cast Look">
    <meta name="keywords" content="에이티브,쇼핑몰,스토어,ATIVE,Shopping mall,BRAND">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>캐스트(LOOK)</title>
        <!--css-->
        <link rel="stylesheet" href="../common/css/common.css"><!--공통 css-->
        <link rel="stylesheet" href="./css/castLk.css">
        <!--구글폰트-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
        <!--폰트어썸-->
        <script src="https://kit.fontawesome.com/126e320e56.js" crossorigin="anonymous"></script>
        <!--자바스크립트-->
        <script type="text/javascript" src="../common/js/jquery-2.1.1.min.js"></script><!--필수 -->
        <script type="text/javascript" src="../common/js/jquery-ui.min.js"></script><!--선택 더 부드러운 디자인-->
        <script type="text/javascript" src="../common/js/jquery.easing.1.3.js"></script><!--좀더 많은 용법사용가능-->
        <script type="text/javascript" src="../common/js/prefixfree.min.js"></script><!--벤더프리픽스 방지--> 
        <script type="text/javascript" src="../common/js/common.js"></script><!--공통 js-->
</head>
<body>
    <!------header------>
    <header></header>
    <!------//header------>

    <!----------------wrap---------------->
    <div id="wrap">
        <!------line-nav------>
        <nav class="line-nav">
            <a href="../main/main.html">HOME</a>
            <div class="dept">
                <select name="selcast">
                    <option value="룩" selected>LOOK</option><!--php 로 연결해야함-->
                    <option value="브랜드">BRAND</option>
                    <option value="커뮤니티">COMMUNITY</option>
                    <option value="리뷰">REVIEW</option>
                </select>
            </div>
        </nav>
        <!------//line-nav------>

        <!------look-list------>
        <ul class="look-list">
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html"><!-- look-connec = connection -->
                    <img src="./images/lookBook/event_banner_4935.gif" alt="아키클래식">
                    <!--룩북 설명-->
                    <div class="look-info">
                        <strong id="brand-name">아키클래식</strong>
                        <span class="brand-title">2020 아키클래식 2차 룩북</span>
                        <span class="brand-info">아키클래식과 여자아이들이 함께한 봄/여름 룩북으로 다양한 여름 및 바캉스 스타일링을 보여주고 있습니다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4934.gif" alt="핑크파인애플">
                    <div class="look-info">
                        <strong id="brand-name">핑크파인애플</strong>
                        <span class="brand-title">레트로 플레이그라운드</span>
                        <span class="brand-info">핑크파인애플의 20 Summer 컬렉션. 과거를 기억하며, 친구들의 마음을 그리워하는 그때로 돌아가고 싶은 마음을 레트로 감성으로 재해석. 친구들과 함께 놀던 곳을 그리워하는 모습을 혼자서도 즐겁게 즐기고 있는 콘셉트로, [혼자서도 외롭지 않아요]를 러블리함과 시크함으로 표현하였다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4927.gif" alt="돔바">
                    <div class="look-info">
                        <strong id="brand-name">돔바</strong>
                        <span class="brand-title">네오 블랙 아일랜드</span>
                        <span class="brand-info">Neo Black Island (N.B.I)는 고급스러운 디자인과 소재에 대한 연구를 통하여 클래식하면서 뒤처지지 않는 스타일, 실용성, 편안함 그리고 합리적인 가격으로 20SS를 전개하고자 한다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4926.gif" alt="바잘">
                    <div class="look-info">
                        <strong id="brand-name">바잘</strong>
                        <span class="brand-title">VARZAR 2020 S/S Signature collection Anytime , Any</span>
                        <span class="brand-info">시그니처의 재해석을 통해 바잘의 오리지널 심벌과 로고의 멋스러움을 더했습니다. 어느날은 스몰로고로 심플하게, 어느날은 빅로고로 스타일리시하게 다양한 무드를 즐기실 수 있습니다.
                        </span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4922.gif" alt="메리먼트">
                    <div class="look-info">
                        <strong id="brand-name">메리먼트</strong>
                        <span class="brand-title">컬러, 팝, 메리먼트</span>
                        <span class="brand-info">MERRIMENT 2020 SUMMER COLLECTION : 메리먼트는 일상생활에 새로운 라이프 스타일을 제안합니다. 편안하고 자유스러운 라이프 스타일을 디자인했습니다. 하이 퀄리티의 패브릭과 다채로운 색감의 뜨거운 태양을 담은듯한 팝한 컬러의 룩을 제안합니다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4919.gif" alt="앤커버">
                    <div class="look-info">
                        <strong id="brand-name">앤커버</strong>
                        <span class="brand-title">2020 S/S ncover Lookbook</span>
                        <span class="brand-info">앤커버는 일상에서 일어나는 다양한 일들을 과하지 않은 컬러감을 담아 평상시에도 매치가 가능한 아이템을 기반으로 전개하며 매시즌 흥미롭고 위트있는 컨셉으로 앤커버만의 감성을 녹여 풀어내는 유니크브랜드입니다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4918.gif" alt="포텐스타">
                    <div class="look-info">
                        <strong id="brand-name">포텐스타</strong>
                        <span class="brand-title">낮 그리고 밤 우리는 봄을 입는다</span>
                        <span class="brand-info">이번 시즌의 컨셉은 '낮 그리고 밤 우리는 봄을 입는다'입니다. 낮과 밤의 경계, 그 경계를 넘나들 때 그 온도를 감싸줄 수 있는 디자인을 감각적으로 표현하였습니다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4917.gif" alt="코우코우">
                    <div class="look-info">
                        <strong id="brand-name">코우코우</strong>
                        <span class="brand-title">서머 컬렉션</span>
                        <span class="brand-info">편안함과 자유를 추구한 미니멀리즘을 기반으로 구성되었으며, 절제된 디테일과 내추럴한 소재로 웨어러블한 착용감을 중점으로 일상 생활에서 편안하게 연출 가능한 제품들로 출시하였습니다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4910.gif" alt="브이투">
                    <div class="look-info">
                        <strong id="brand-name">브이투</strong>
                        <span class="brand-title">브이투 20 봄/여름 컬렉션</span>
                        <span class="brand-info">브이투(V2)의 20 S/S 컬렉션은 누구나 편하게 착용할 수 있는 이상적인 오버사이즈 핏과 다양한 컬러 구성으로 데일리 하게 입기 좋은 아이템을 선보인다. 브이투(V2) 만의 무드를 보여줄 수 있는 감각적인 로고 그래픽으로 20 S/S 컬렉션을 완성하였다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4909.gif" alt="아키클래식">
                    <div class="look-info">
                        <strong id="brand-name">아키클래식</strong>
                        <span class="brand-title">2020 S/S NEW ARRIVAL 화보 vol.1</span>
                        <span class="brand-info">20SS 아키클래식은 스포티한 케주얼 룩에 매치 한 트렌디한 슈즈들을 선보였다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4907.gif" alt="라모드치프">
                    <div class="look-info">
                        <strong id="brand-name">라모드치프</strong>
                        <span class="brand-title">My kind of inspiration</span>
                        <span class="brand-info">라모드치프의 2020 S/S 1차 collection `그들만의 표현방식`이라는 콘셉트 Glitch Art의 테크니닉과 Soft Grunge 장르의 감성에 영감을 받아 경쾌한 컬러와 키치 한 분위기에 메시지를 담고 있는 그들만의 색다른 표현방식을 전달하고자 한다 오버사이즈의 캐주얼웨어로 누구나 편안하게 착용하시기 매력적입니다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4906.gif" alt="콰이어티스트">
                    <div class="look-info">
                        <strong id="brand-name">콰이어티스트</strong>
                        <span class="brand-title">프레시 투 서머</span>
                        <span class="brand-info">레트로 무드와 컬러 패널링, 패브릭 믹스가 메인 아트워크인 콰이어티스트. 고유의 색감과 아이덴티티가 돋보이는 20’S SUMMER 시즌을 소개한다. ‘유통기한은 여름까지’라는 슬로건으로 진행되는 이번 시즌은 적절한 색 배합과 위트 있는 그래픽이 더해져 조화를 이루었다. 현재까지 유지해온 콘셉트와 그간의 아카이브를 기반으로 실루엣까지 꼼꼼히 체크하여 발매되는 이번 시즌은 콰이어티스트의 노하우를 여실히 담아내었다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4902.gif" alt="네스티팜">
                    <div class="look-info">
                        <strong id="brand-name">네스티팜</strong>
                        <span class="brand-title">20SS nastypalm</span>
                        <span class="brand-info">NASTY PALM(네스티팜)은 "더러운 손에서 예술은 탄생한다"라는 모토로 강렬한 그래픽을 바탕으로 2010년 여름 한국에서 론칭한 스트리트 웨어 브랜드입니다. 그동안 여러 시즌을 거치면서 네스티팜만의 유니크한 컬렉션을 전개하여 한국에 많은 매니아 층을 확보하고 있으며, 단순한 컬렉션 전개뿐만 아니라 여러 서브 컬처 크루들 과의 협업을 통하여 문화의 다양성과 새로움을 추구하고 있습니다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4894.gif" alt="아이러니포르노">
                    <div class="look-info">
                        <strong id="brand-name">아이러니포르노</strong>
                        <span class="brand-title">아이러니 포르노 화이트라인</span>
                        <span class="brand-info">IRONY PORNO 20S/S Part. 3</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4835.gif" alt="엑스톤즈">
                    <div class="look-info">
                        <strong id="brand-name">엑스톤즈</strong>
                        <span class="brand-title">XTONZ 20 S/S Season Consept</span>
                        <span class="brand-info">엑스톤즈의 2020 S/S 2차 시즌 컨셉은 "SPARKLING" 입니다. "SPARKLING" 하면 어떤 것이 떠오르시나요? 톡 쏘는 맛이 느껴지는 시원한 음료, 반짝거리는 은은한 별바다를 떠올리는 분도 계실 거에요. 간절히 원하고 아름답게 반짝이는 것은 보통 우리의 손으로 움켜쥐기가 쉽지 않습니다. 그러한 마음에 공감하여 우리의 마음에 담아 시각적으로 표현해내기 위해 많은 고민을 했어요. 뜨거운 태양 아래 얼음이</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4834.gif" alt="네스티시팬클럽">
                    <div class="look-info">
                        <strong id="brand-name">네스티팬시클럽</strong>
                        <span class="brand-title">네스티팬시클럽 홀리데이</span>
                        <span class="brand-info">네스티팬시클럽(NASTY FANCY CLUB) 20 S/S Collection</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4817.gif" alt="론론">
                    <div class="look-info">
                        <strong id="brand-name">론론</strong>
                        <span class="brand-title">캣츠 펄</span>
                        <span class="brand-info">론론은 프랑스어로 고양이의 그르렁 거리는 소리를 뜻합니다. 기분 좋게 감싸는 고양이의 그르렁 소리와 같이 이번 여름 론론과 함께 행복한 나날을 함께 하시길 바랍니다. Be (you) with Ronron!</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4812.gif" alt="트립르센스">
                    <div class="look-info">
                        <strong id="brand-name">트립르센스</strong>
                        <span class="brand-title">스카이 블루</span>
                        <span class="brand-info">맑은 하늘의 변화되는 시점을 기준으로 하여 제품으로 담아둔 이번 룩북은 블루, 퍼플, 화이트 컬러를 중점으로 사용하였으며, 단품으로도 충분한 가치를 보일 수 있도록 아이템 컬러에 포커스를 두고 제작되었다. 하늘색 [sky blue] : 연한 파랑. 맑게 갠 푸른 하늘을 나타내는 색이다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4811.gif" alt="테네르">
                    <div class="look-info">
                        <strong id="brand-name">테네르</strong>
                        <span class="brand-title">테네르 2020 봄/여름 첫 번째 이야기</span>
                        <span class="brand-info">테네르(TENER)의 2020 봄/여름 첫 번째 컬렉션. Fresh color & Over fit으로 남녀노소 누구나 쉽게 입을 수 있는 Unisex Look을 완성하다.</span>
                    </div>                    
                </a>
            </li>
            <li>
                <a class="look-connec" href="http://127.0.0.1:5500/cast/castLkBook.html">
                    <img src="./images/lookBook/event_banner_4809.gif" alt="맥우두건">
                    <div class="look-info">
                        <strong id="brand-name">맥우드건</strong>
                        <span class="brand-title">나우 미니멀리즘</span>
                        <span class="brand-info">"미니멀리즘시대에 걸맞는 절제미와 고급스러움을 모두 갖춘 맥우드건의 스트릿룩을 만나보세요. 하이퀄리티의 코치자켓과 모노트러커, 그리고 감성충만한 조거팬츠 등을 제안합니다."</span>
                    </div>                    
                </a>
            </li>
        </ul>
        <!------//look-list------>
    </div>
    <!----------------//wrap---------------->
    
    <!------footer------>
    <footer></footer>
    <!------//footer------>
</body>
</html>