<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="name" content="김승현,Kim Seung Hyeon">
    <meta name="description" content="에이티브 캐스트(Review-info),Ative Cast Review-info">
    <meta name="keywords" content="에이티브,쇼핑몰,스토어,ATIVE,Shopping mall,Review-info">
    <meta name="copyright" content="copyright 2020 html25th">
    <title>캐스트(REVIEW-INFO)</title>
    <link rel="stylesheet" href="./css/castRv-info.css">
    <script type="text/javascript" src="./js/castRv-info.js"></script>
</head>
<body>
    <!----------------wrap---------------->
    <div id="wrap">
        <h1>리뷰상세정보</h1>
        <div class="rv-detail">
            <div class="rv-img"><img src="./images/CastRv-info/review01.jpg" alt="리뷰 이미지"></div>
            <div class="rv-goods-info">
                <div class="brand-info">
                    <img src="./images/CastRv-info/reviewThumb01.jpg" alt="브랜드 이미지">
                    <div class="brand-explain">
                        <span class="pname">라모드치프 LAMODECHIEF</span>
                        <span class="star">★★★★★</span>
                        <span class="strike">29,000<b>원</b></span>
                        <span>9,900<b>원</b></span>
                    </div>
                    <a class="product-go" href="#">상품 보러가기</a>
                </div>
                <div class="rv-txt">
                    <span>아주 굳굳입니다. 9900원에 이런 티셔츠라니ㅎㅎ</span>
                </div>
            </div>
        </div>
    </div>
    <!----------------//wrap---------------->
</body>
</html>